.otp-field {
    display: flex;
  }
  
  .otp-field input {
    width: 40px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 3px;
    border: 2px solid #55525c;
    background: #1a8fdd57;
    font-weight: bold;
    /* color: #fff; */
    outline: none;
    transition: all 0.1s;
  }
  
  .otp-field input:focus {
    /* border: 2px solid #fff; */
    box-shadow: 0 0 2px 2px #241F1F;
  }
  
  .disabled {
    opacity: 0.5;
  }
  
  .space {
    margin-right: 1rem !important;
  }
  .navbar-nav > li{
    padding-right: 60px !important;
  }
  .navbar-nav :hover{
    color: red !important;
  }

  .badge :hover {
    color: red !important;
   
  }
  .fa-heart  :hover{
    color: red;
  }

  .fw-bolder:hover{
    color: rgb(6, 250, 148);
  }

  #pulse:hover{
    animation: pulse 0.5s ease-in infinite;
  }

  #push:hover{
    animation: pulse 0.5s linear 1;
  }

  #pop:hover{
    animation: pop 0.5s linear 1;
  }

  @keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
  }

  @keyframes push{
    50%  {transform: scale(0.8);}
  }

  @keyframes pop{
    50%  {transform: scale(1.5);}
  }


  .title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }

  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }

  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }


  .neons {
    /* margin-top: 10rem; */
    text-align: center;
 }
 
 .neons h1 {
   /* font-size: 9rem; */
   text-align: center;
    font-weight: bold;
   -webkit-animation: glow 2s ease-in-out infinite alternate;
   -moz-animation: glow 2s ease-in-out infinite alternate;
   animation: glow 2s ease-in-out infinite alternate;
 }
 
 @-webkit-keyframes glow {
      from {
       color: #fff;
     text-shadow: 0 0 0px #00fff2, 0 0 0px #00fff2, 0 0 0px #00fff2, 0 0 0px #00fff2, 0 0 0px #00fff2, 0 0 0px #00fff2, 0 0 10px #00fff2, 0 0 0px #00fff2;
   }
   
   to {
      color: gray;
     text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
   }
 }




 .zoom-image-container {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.zoom-image {
  
  position: relative;
  
}

.zoom-image img {
  
  cursor: zoom-in;
  
  
  /* box-shadow: 0 18px 5px -15px rgba( 0, 0, 0, .5 ); */
  
}

.hover-image {
  
  position: fixed;
  width: 300px;
  height: 300px;
  
  border-radius: 50%;
  
  transform: translate( -0%, -20% );
  
  pointer-events: none;
  
  box-shadow: 0 0 10px rgba( 0, 0, 0, .5 );
  
}


  
  

 